// *************************************
//
//   Thumb
//   -> Media element
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .sb-thumb[m]
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------

$thumb-borderRadius: 4px;

// -------------------------------------
//   Base
// -------------------------------------

.sb-thumb {
  border-radius: 50%;
  display: block;
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Sizes ----- //

.sb-thumb--m {
  border-radius: $thumb-borderRadius;
}
